@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
  background-color: rgb(240, 240, 240);
  color: rgb(30, 30, 30);
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  line-height: 40px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

#profile-pic {
  width: 150px;
  border-radius: 50%;
}

.button {
  background-color: #314CB6;
  text-decoration: none;
  color: rgb(230,230,230);
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  background-color: #627C85;
}

.container {
  text-align: center;
}

.card-white {
  background-color: white;
  width: 600px;
  margin: 30px auto;
  padding: 50px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 400px;
  }
}

#card-social {
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

i {
  color: #314CB6;
}
